.git
.gitignore
.gitattributes
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
dataset/raw
dataset/cache
logs/
tests/
frontend/node_modules
saved_models/current_run
saved_models/**/checkpoint-*
.vscode
.idea
